:root {
  --main-font-family: "Open Sans";
  --main-color-title: #f52f1b;
  --main-color-primary: #e73c36;
  --main-color-secondary: #ccc;
  --main-color-grid: #ececec;
  --main-color-text: #343434;
  --main-grid-height: 140px;
}

body,
html {
  font-family: var(--main-font-family);
  color: #343434;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #343434;
  cursor: none;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.woff2") format("woff2"),
    url("/fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.woff2") format("woff2"),
    url("/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("/fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.mainGrid {
  position: relative;
  margin: 0 auto;
  min-height: calc(100vh - 140px);
  width: 100vw;
  max-width: 1440px;
  overflow: hidden;
}

.topGrid {
  position: fixed;
  z-index: 10;
  grid-template-columns: repeat(7, 1fr);
  width: 100vw;
  max-width: 1440px;
  transform: translateX(0);
  grid-template-areas: "logo ... ... menu menu menu menu";
}

.bottomGrid {
  position: fixed;
  z-index: 10;
  bottom: 0;
  grid-template-columns: repeat(7, 1fr);
  width: 100vw;
  max-width: 1440px;
  transform: translateX(0);
  grid-template-areas: "infos . . . . . .";
  pointer-events: none;
}

@media screen and (min-width: 1440px) {
  .bottomGrid {
    left: 50%;
    transform: translateX(calc(-50%));
  }
  .topGrid {
    left: 50%;
    transform: translateX(calc(-50%));
  }
}