:root {
  --main-font-family: "Open Sans";
  --main-color-title: '#f52f1b';
  --main-color-primary: '#e73c36';
  --main-color-secondary: '#ccc';
  --main-color-grid: '#ececec';
  --main-color-text: '#343434';
  --main-grid-height: '140px'
}