.gauge {
  margin: 0 auto;
  width: 100%;
}
.label {
  font-weight: bold;
  font-size: 1.9em;
}

.bars {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  grid-row: 4;
  grid-column: 3 / span 10;
  min-height: 560px;
  background: #fff;
  border: 1px solid #ececec;
  border-left: none;
  padding: 60px 60px 80px 60px;
  & > div {
    &:first-of-type {
      flex: 1 1 50%;
    }
    &:last-of-type {
      flex: 1 1 50%;
    }
  }
}

.title {
  position: relative;
  grid-row: 1;
  grid-column: 2 / span 3;
  // transform: translateX(-100%);
  padding-top: 100px;
  align-self: start;
  font-size: 3.5em;
  letter-spacing: 1px;
  font-weight: 700;
  height: 140px; // Position of text "Clients" top, use grid template-row height for simulate margin top
  & > div {
    position: absolute;
    font-size: 3.5em;
    letter-spacing: 1px;
    font-weight: 700;
  }
}
