circle {
  stroke: $primary;
  stroke-width: 4px;
  fill: none;
}

.text1 {
  stroke-width: 0.5px;
  font-size: 1.6em;
  stroke: $colorGrey;
}

.text2 {
  stroke-width: 0.5px;
  font-size: 0.9em;
  stroke: $colorGrey;
}

.text2 {
  stroke-width: 0.5px;
  font-weight: 600;
  font-size: 1.3em;
  stroke: $colorGrey;
}
