.gaugeContainer {
  padding: 25px;
  font-weight: 300;

  .gauge {
    width: 100%;
  }

  circle {
    stroke: var(--main-color-primary);
    fill: none;
  }
  .text1 {
    font-size: 14px;
  }
  .text2 {
    font-size: 7px;
  }

  .text3 {
    font-weight: 600;
    font-size: 9px;
  }
}
