$font: "Open Sans";
$titleColor: #f52f1b;
$primary: #e73c36;
$gridColor: #ececec;
$textColor: #343434;
$colorGrey: #ccc;
$gridHeight: 140px;

body,
html {
  font-family: $font;
  color: $textColor;
  a {
    text-decoration: none;
    color: $textColor;
  }
}

.topGrid {
  position: fixed;
  z-index: 10;
  grid-template-columns: repeat(7, 1fr);
  width: 100vw;
  max-width: 1440px;
  transform: translateX(0);
  grid-template-areas: "logo ... ... menu menu menu menu";

  @media screen and (min-width: 1440px) {
    left: 50%;
    transform: translateX(calc(-50%));
  }
}

.mainGrid {
  margin: 0 auto;
  width: 100vw;
  max-width: 1440px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "main main main main main main main";
}

.bottomGrid {
  position: fixed;
  z-index: 10;
  bottom: 0;
  grid-template-columns: repeat(7, 1fr);
  width: 100vw;
  max-width: 1440px;
  transform: translateX(0);
  grid-template-areas: "infos . . . . . .";
  pointer-events: none;
  @media screen and (min-width: 1440px) {
    left: 50%;
    transform: translateX(calc(-50%));
  }
}

.main {
  grid-area: main;
  min-height: calc(100vh - $gridHeight);
}
